<p-toolbar>
  <div class="p-toolbar-group-start">
    <a class="cursor-pointer">
      <h1 routerLink="">REMIND ME</h1>
    </a>
  </div>
  <!-- <div class="p-toolbar-group-center">
    <button pButton icon="pi pi-plus" class="mr-2 "></button>
    <button pButton icon="pi pi-print" class="mr-2"></button>
    <button pButton icon="pi pi-upload"></button>
  </div> -->
  <nav class="p-toolbar-group-end">
    <button routerLink="/form" pButton icon="pi pi-plus" class="mr-2"></button>
  </nav>
</p-toolbar>